
		<link rel="stylesheet" href="/css/hal4.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/css/hal6.css" type="text/css" media="screen" />


<div id="container2"> 
		<div id="movingtext">
					<p><marquee behavior="scroll" direction="left" class="walktext"> Friday, February 1, 2013. Rekomendasi sharing hari ini adalah:</marquee></p>
		</div>
                <div id="allnews" style="height: 500px; overflow:scroll; display:none;">
                <% @issue.sites.each do |site| %>
                <% @site = site %>
		<div class="newsbox">
		<div id="arrow">
		</div>
		
		<div id="tag">
    		<div id="shareberita">share berita dari</div>
    		<div id="sumberberita"><i onClick="window.location='<%= @site.url %>'" style="cursor:pointer"><%= @site.host %></i></div>
		</div>
    	
    		<div id="news">
    					<div id="judulbox">
    										<div id="judul" align="left">
                                                                                    <%= @site.title[0..90] %>
													</div>
					     </div>
						
						
    					<div id="descbox">
    								<div id="desc" align="left">
                                                                    <%=  @site.description %>
    								</div>
    					</div>
    					
    					
    					<div id="photobox">
    								<div id="photoxx" style="background:url()"><img src="<%= @site.image_url %>" width="100" /></div>
    					</div>
    					<hr style="border: 1px solid #d8d8d7; margin-top: 145px; position:relative;" /> 
    					<div id="commentico"></div>
    					<div id="commentbox">
    								<i><div id="comment" align="left">"<%= @site.comments.last.message if @site.comments.last  %>"</div></i>
    					
    					</div>
    					<hr style="border: 1px solid #d8d8d7; margin-top: -2px; position:relative" /> 
    					
    				<div id="comhashico"></div>
    					<div id="comhashbox">
    									<div id="comhash" align="left">*<%= @site.issuesites.first.issue.name if @site.issuesites.first %>*</div>
   <!-- <div id="cupliksign" align="right">Selamat ya, topik kamu dicuplik oleh Pencitraan!</div>-->
    					</div>

    		</div>    		
    	

		</div>

                <% end %>
                    
                </div>
</div>

<div id="con">
<center>
<div id="bg">
<center>

		<div id="box11">
				<div id="sideblock">
		  		  				<div id="jumlahnimbrung" align="left">
		    								NIMBRUNG: <%= @users.count %>
		  		  				</div>
                                                                <% @users.each do |user| %>
		  		  				<div id="listnama">
		  		  						<div id="thumbnail2" onClick="window.location='/profile?user=<%= user.id %>'" style="cursor:pointer; background:url('<%= user.image_url %>'); background-size:45px;"></div>
		  		  						<div id="nama2" onClick="window.location='/profile?user=<%= user.id %>'" style="cursor:pointer"><%= user.name %></div>
		  		  				</div>
                                                                <% end %>
		  		  				
		  		  				<div type="button" id="showmore">
		  		  					<div id="showmoretext">
		  		  						Show more people
		  		  					</div>
		  		  				</div>
		  		  				
		  		  </div>
			<div id="box12">
				<div id="box10">
						<div id="boxjudul">
								<div id="judul">
								*<%= @issue.name %>*
								</div>
								
								<div id="deskripsi">
									<div id="kotakcuplik">
													<div id="logocuplik">
													</div>
							
													<div id="namacuplik">
													<a href="#"><%= @issue.user.name %></a>
													</div>
									</div>	
									
									<div id="kotakberita" style="cursor:pointer">
													<div id="logojmlberita">
													</div>
													
													<div id="jmlberita">
													<a><%= @issue.sites.count %> berita</a>
													</div>
									</div>
									<div id="kotaknimbrung">
													<div id="logonimbrung">
													</div>
													
													<div id="jmlnimbrung">
												        <%= @users.count %>	
													</div>
									</div>
							</div>
					
						</div>
						
                                                <% if @current_user != nil %>
						<div id="boxnimbrung">
						<form action="<%= komentar_submit_path %>" method="post" accept-charset="utf-8" id="myform">
								<input type='text' name='komentar' id='share' autofocus="autofocus" placeholder="Nimbrung dengan kawanmu di Seluruh Indonesia!" />
                                                                <input type="hidden" name="issue_id" value="<%= @issue.id %>">
						</form>
						</div>
                                                <% end %>
				</div>
                                                <% if @current_user != nil %>
				<a id="link"><input type="button" class="styled-button-8" value="Nimbrung!" onClick="submitform()" /></a>
                                                <% else %>
				<a href="/auth/twitter" id="link"><input type="button" class="styled-button-8" value="Sign In With Twitter" style="width: 150px;" /></a>
                                                <% end %>
						<div id="min1">
								MIN, 20TXT.
						</div>
						
			</div>
			
			<div id="box16" style="height: 700px; overflow:scroll">
                                        <% @komentars.each do |komentar| %>
					<div id="boxkomentar" class="komentar<%= komentar.id%>">
								<div id="thumbnail" style="background:url('<%= komentar.user.image_url %>'); background-size:45px;"></div>
								<div id="infokomentar">
												 <div id="nama"><%= komentar.user.name %></div>
                                                                                                 <span id="k<%= komentar.id %>"></span>
										<br>
												 <div id="waktu"><%= komentar.created_at %></div>
										<br>
							                     <div id="komentarnya" align="left" style="min-height: 120px;">
                                                                                <%= komentar.message %>
								                </div>
								    

								</div>
								
								<div id="tombol">
										<a href="/vote/<%= komentar.id %>/bermutu" id="link">
													<div type="button" class="styled-button-11">
															<div id="bermutu">Bermutu</div>
															<div id="symbol1"></div>
															<div id="<% if komentar.bermutu > komentar.biasa && komentar.bermutu > komentar.gakmutu %>bulathijau<% else %>bulatputih<% end %>">
																		<center><div id="angka"><%= komentar.bermutu %></div></center>
															
															</div>
															
													</div>
										</a>
								<br>
						
						
										<a href="/vote/<%= komentar.id %>/biasa" id="link">
													<div type="button" class="styled-button-12">
															<div id="bermutu">Biasa Aja</div>
				   											<div id="symbol2"></div>
				   											<div id=
                                                                                                        <% if komentar.biasa > komentar.bermutu && komentar.biasa > komentar.gakmutu %> 
                                                                                                                "bulathijau"
                                                                                                        <% else %>
                                                                                                                "bulatputih"
                                                                                                        <% end %>
                                                                                                                        >
				   														<center><div id="angka"><%= komentar.biasa %></div></center>
				   											
				   											</div>
													</div>
										</a>
								<br>
						
										<a href="/vote/<%= komentar.id %>/gakmutu" id="link">
													<div type="button" class="styled-button-13">
															<div id="bermutu">Gak Mutu</div>
															<div id="symbol3"></div>
															<div id=
                                                                                                        <% if komentar.gakmutu > komentar.bermutu && komentar.gakmutu > komentar.biasa %> 
                                                                                                                "bulathijau"
                                                                                                        <% else %>
                                                                                                                "bulatputih"
                                                                                                        <% end %>
                                                                                                                        >
																		<center><div id="angka"><%= komentar.gakmutu %></div></center>
															
															</div>
													</div>
										</a>
					             </div>
				 </div>

                                 <% end %>

		</div>




</center>

<div id="invisiblebox">
		</div>

<script type="text/javascript" charset="utf-8">
    function submitform(){
        $("#myform").submit();
    }

    if(window.location.hash){
        var hash = window.location.hash
        komentar_id = hash.split("#k")[1]
        $(".komentar"+komentar_id).css("background-color","green");
        setTimeout(function(){$(".komentar"+komentar_id).css("background-color","");}, 500);
    }

     $("#kotakberita").click(function(){
        $("#allnews").slideToggle();
     });
</script>   
