
<html>
<head>

<title>Pencitraan</title>
<script type="text/javascript" src="javascript/jquery-1.8.3.js"></script>
<script type="text/javascript" src="javascript/fancyapps-fancyBox-v2.1.4-0-g4e31d61/fancyapps-fancyBox-0ffc358/lib/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="javascript/fancyapps-fancyBox-v2.1.4-0-g4e31d61/fancyapps-fancyBox-0ffc358/source/jquery.fancybox.js"></script>
 <script type="text/javascript" src="javascript/fancyapps-fancyBox-v2.1.4-0-g4e31d61/fancyapps-fancyBox-0ffc358/source/helpers/jquery.fancybox-media.js"></script>
  
		<link rel="stylesheet" href="css/hal4.css" type="text/css" media="screen" />
		  <link rel="stylesheet" type="text/css" href="javascript/fancyapps-fancyBox-v2.1.4-0-g4e31d61/fancyapps-fancyBox-0ffc358/source/jquery.fancybox.css"/>
		  <link rel="shortcut icon" href="img/favicon.ico" />

  
 
</head>

<body style="height: 800px;">
<div id="header">
		<div id="container">
			<div id="logo"></div>
			<div id="Nimbrungs"><i>Nimbrung! 10 Topik terkini di Indonesia</i></div>
		</div>
		
</div>

<div id="container2"> 
<div id="movingtext">
<p><marquee behavior="scroll" direction="left" class="walktext"> Friday, February 1, 2013. Rekomendasi sharing hari ini adalah:</marquee></p>
</div>
</div>

<div id="con">
<center>
<div id="bg">
<a href="#fancy" id="link" class="changes"><input type="button" class="styled-button-8" value="Change settings" /></a>
<div id="box6">
		<div id="box7">
                                <div id="photos" style="
                                    background: url('<%= @current_user.image_url %>');
                                    background-size: 100px;
                                "></div>
				
				<div id="name"> Evan Purnama
				</div>
				<div id="sudah">sudah share berita</div>
				<div id="newsicon"></div>
				<div id="jumlah"><%= @current_user.sites.count %></div>
				<div id="sudah2">sudah dicuplik</div>
				<div id="cuplikicon"></div>
				<div id="jumlah2">7</div>
				<div id="nimbrung"><i>Nimbrung!</i></div>
				<hr style="border: 1px solid #d8d8d7; margin-left: 1px; margin-right: 1px; margin-top: 2px;" /> 
				<div id="jumlahbermutu">77</div>
				<div id="bermutu">bermutu</div>
				 <div style="width:1px;height:58px;background-color:#d8d8d7;float:left;margin-top:-6px;margin-left:13px;"></div>
				<div id="jumlahbiasa">195</div>
				<div id="biasa">biasa aja</div>
				<div style="width:1px;height:58px;background-color:#d8d8d7;float:left;margin-top:-6px;margin-left:11px;"></div>
				<div id="jumlahgakmutu">21</div>
				<div id="gakmutu">gak mutu</div>
		<div>
</div>
<a href="/" id="link"><input type="button" class="styled-button-9" value="Share Lagi" /></a>

<script type="text/javascript">
  		$(document).ready(function(){
  			$('.changes').click(function(){
  				$.fancybox.open({
  				
  				href : '#fancy',
  				
  				
  				});
  			});
  		});
  		
  		
  </script>

    	<!-- Fancy Box-->		
<div id="fancy">
    		<div class="hello"><p>Hello.</p></div>
    	
    		<!-- Change Photo-->	
    		<div id="photofancy">
    					<p>Photo</p>
    					<img id="photo2fancy"src="img/photocopy.png" />
 <div id="changephoto"> 		
    <div class="fileupload fileupload-new" data-provides="fileupload">
    <span class="btn btn-file">
    <span class="fileupload-new">Change photo + </span>
    <span class="fileupload-exists">Change</span>
    <input type="file" />
    </span>
      
    <span class="fileupload-preview"></span>
    
    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
    </div>  		
 </div>
    </div>

<!-- Change background-->
    		<div class="bgfancy">	
    			<p>Background</p>
    			<img id="bg2fancy" src="img/bgfancy.jpg"/>
    		
     <div id="changebg"> 		
    <div class="fileupload fileupload-new" data-provides="fileupload">
    <span class="btn btn-file">
    <span class="fileupload-new">Change background + </span>
    <span class="fileupload-exists">Change</span>
    <input type="file" />
    </span>
      
    <span class="fileupload-preview"></span>
    
    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
    </div>  		
 </div>
 <div>
 
   <p style=" width:120px;  top : -55.5px; left: 230px; font-size: 9px; position:relative;">
   			Maximum file size of 2 MB
   </p>
    			
   <input type="checkbox" style="border: solid 2px; position:relative; top:-65px; left: 226px;" />
    		<p style=" width: 120px; top : -92px; position:relative; left: 245px;">Tile Background</p>
    		</div>
    		
    		<div id="bgfancycolor">	
    			<p style=" position: relative; top: 0px; left: 20px; width: 100px;">Back color</p>
    			<div style="position:relative; width: 120px ; height: 30px; background: #000000; top: -36px; left:100px;"></div>
    			<input type="color" style="border :solid 2px #EBEBEB; left:230px; top:-65px; position: relative; width: 70px;" />
	</div >
	
	
    		<div id="location">
    			<p class="loc">Location</p>
    			<textarea rows="5" cols= "30" class="textarealoc"></textarea>
    			 <p style=" width:250px; top : -35px; font-size: 9px; left: 100px; position:relative;">
   			Isi Alamat Lengkapmu (Untuk pengiriman reward).
   </p>
    		</div>
    		
    		<input type="button" class="styled-button-10" value="Save" />
    	</div>
    </div>	
    			
 <div id="invisiblebox">

 <% @sites.each do |site| %>
 <% @site = site %>
        		

		<div class="newsbox">
		<div id="arrow">
		</div>
		
		<div id="tag">
    		<div id="shareberita">share berita dari</div>
    		<div id="sumberberita"><i onClick="window.location='<%= @site.url %>'" style="cursor:pointer"><%= @site.host %></i></div>
		</div>
    	
    		<div id="news">
    					<div id="judulbox">
    										<div id="judul" align="left">
                                                                                    <%= @site.title[0..80] %>
													</div>
					     </div>
						
						
    					<div id="descbox">
    								<div id="desc" align="left">
                                                                    <%=  @site.description %>
    								</div>
    					</div>
    					
    					
    					<div id="photobox">
    								<div id="photoxx" style="background:url()"><img src="<%= @site.image_url %>" width="100" /></div>
    					</div>
    					<hr style="border: 1px solid #d8d8d7; margin-top: 145px; position:relative;" /> 
    					<div id="commentico"></div>
    					<div id="commentbox">
    								<i><div id="comment" align="left">"<%= @site.comments.last.message if @site.comments.last  %>"</div></i>
    					
    					</div>
    					<hr style="border: 1px solid #d8d8d7; margin-top: -2px; position:relative" /> 
    					
    				<div id="comhashico"></div>
    					<div id="comhashbox">
    									<div id="comhash" align="left">*<%= @site.issuesites.first.issue.name if @site.issuesites.first %>*</div>
   <!-- <div id="cupliksign" align="right">Selamat ya, topik kamu dicuplik oleh Pencitraan!</div>-->
    					</div>

    		</div>    		
    	

		</div>
		
		
		

		


<% end %>

		
		<div id="loadbar">
		<center><div class="ajax-loader"></div></center>
		</div>
		</div>
</div>
</center>
</div>



</body>







</html>

